@import "index";
.container{
  width: 100vw;
  height: 100vh;
  background-color: #1c262d;
  display: grid;
  align-items: center;
  padding: 2vh;
  overflow: hidden;
}

.reload{
  display: grid;
  justify-content: center;
  align-items: center;
  @include fontStyle();
  &>div{
    width: 100%;
    &>div{
      text-align: center;
    }
  }
}